* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.0001);
}

.header {
  height: 78px;
}

.page-name {
  display: none;
}

.menu {
  padding-top: 32px;
  padding-left: 330px;
  padding-right: 330px;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.menu-links {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
}

.section-image {
  width: 1280px;
}

.image {
  height: 789px;
}

.section-description {
  width: 1280px;
}

.section-text-header {
  margin-top: 48px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
}

.section-text {
  width: 1145px;
  margin-top: 38px;
  margin-left: 68px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
}

.section-text:nth-of-type(2) {
  margin-top: 28px;
}

.section-btn {
  margin-top: 84px;
  margin-left: 545px;
  padding: 18px 43px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff0000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer {
  width: 1070px;
  height: 39px;
  margin: 0 auto;
}

.footer-copyright {
  margin-top: 82px;
  margin-bottom: 29px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-align: right;
  color: #373737;
}
